- paginated_products = @searcher.products if params.key?(:keywords)
- paginated_products ||= products
- if products.empty?
  = t(:no_products_found)
- elsif params.key?(:keywords)
  %h3= t(:search_results, :keywords => h(params[:keywords]))
- if products.any?
  %table.products_table{:border => 1}
    %tr
      - products.first.product_properties.each do |p|
        %td
          = p.property_name
      %td
        Цена с НДС за 1 кг
    - products.each do |product|
      - product_properties = product.product_properties
      - if Spree::Config[:show_zero_stock_products] || product.has_stock?
        %tr
          - product.product_properties.each do |product_property|
            %td
              = product_property.value
          %td
            = product.price
