%title
  = title
%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}/
= meta_data_tags
= stylesheet_tags
= csrf_meta_tag
= javascript_include_tag 'mootools.js', 'caption.js', 'mouseover.js'
:css
  div.title h1,div.title h2,div.componentheading, h1,h2,h3,h4,h5,h6,.yjround h4,.yjsquare h4, .yjnewsflash_title{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
  }
