.width50
  .teaser-item
    %h2.pos-title
      = link_to block_product.name, block_product
    .pos-description
      .element.element-textarea.first.last
        %div
          %p
            = small_image(block_product, :style => "float: left;")
          - unless block_product.product_properties.blank?
            %table.listParam{:border => "0"}
              %tbody
                %tr
                  %td
                    Цена
                  %td
                    = block_product.price.to_i
                    Рублей
                = render :partial => 'product_property', :collection => block_product.product_properties
    %p.pos-links
      %span.element.element-itemlink.first.last
        = link_to "Подробнее", block_product

