#yjsg2.Mozaic
  #yjsg2_inside
    #adv1.yjsgxhtml{:style => "width:100.00%;"}
      .yjsquare_mozslider
        .yjsquare_in
          .top_image
#yjsg3
#user1.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          = link_to "/pg/konditsioniery" do
            = image_tag "kond_title_smal.jpg", :style => "align: top; height: 96px; width: 180px;"
        .yjnf_descr
          = link_to "Кондиционеры", "/pg/konditsioniery", :class => "yjnewsflash_title"
        .yjnf_descr
          %p Компактный корпус, стильный дизайн украсят интерьер Вашего помещения.
        %span.yjnsreadon
          = link_to "Подробнее", "/pg/konditsioniery", :class => "yjns_rm"

#user2.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          - link_to "/pg/izorok" do
            = image_tag "isoroc.jpg", :height => "96px", :width => "180px"
        .yjnf_descr
          = link_to "Теплоизоляция", "/pg/izorok", :class => "yjnewsflash_title"
        .yjnf_descr
          %p Теплоизоляция ISOROC (ИЗОРОК) производится из горных пород габбро-базальтового типа и их аналогов.
        %span.yjnsreadon
          = link_to "Подробнее", "/pg/izorok", :class => "yjns_rm"

#user3.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          - link_to "/pg/tssp" do 
            = image_tag "tamak.jpg", :style => "align: top; height: 96px; width: 210px;"
        .yjnf_descr
          = link_to "ЦСП", "/pg/tssp", :class => "yjnewsflash_title"
        .yjnf_descr
          %p Цементно-стружечные плиты, известные на рынке под торговой маркой ЦСП ТАМАК, принадлежат к новому поколению строительных материалов.
        %span.yjnsreadon
          = link_to "Подробнее", "/pg/tssp", :class => "yjns_rm"

#user4.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          - link_to "/pg/pienopolistirol" do
            = image_tag "photos0-800x600.jpeg", :height => 96, :width => 180, :align => "top"
        .yjnf_descr
          = link_to "Пенополистирол", "/pg/pienopolistirol", :class => "yjnewsflash_title"
        .yjnf_descr
          %p Применение вспененного пенополистирола в строительстве регламентирует ГОСТ 15588-86, который предписывает использовать вспененный пенополистирол как «в качестве среднего слоя строительной ограждающей конструкции».
        %span.yjnsreadon
          = link_to "Подробнее", "/pg/pienopolistirol", :class => "yjns_rm"

#user5.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          - link_to "/pg/eliektrody" do
            = image_tag "646432_w640_h640_bolshaya_upakovka.jpg", :align => "top", :border => "0", :height => "96px", :title => "Электроды", :width => "180px"
        .yjnf_descr
          = link_to "Электроды", "/pg/eliektrody", :class => "yjnewsflash_title"
        .yjnf_descr
          %p ЛЭЗ – крупнейший российский производитель сварочных электродов, который уже 65 лет выпускает самые разнообразные электроды для сварки.
        %span.yjnsreadon
          = link_to "Подробнее", "/pg/eliektrody", :class => "yjns_rm"

