- @body_id = 'product-details'
= breadcrumbs(@taxon) if @taxon
#yoo-zoo.yoo-zoo.product-default{:class => "product-default-кондиционеры"}
  .items
    .box-t1
      .box-t2
        .box-t3
    .box-1
      %h1= accurate_title
      .main_info
        %table.product_table
          %tr
            %td
              #product-images
                = hook :product_images do
                  #main-image
                    = render 'image'
                  #thumbnails
                    = render 'thumbnails', :product => @product
            %td
              #product-description
                = hook :product_description do
                  = product_description(@product) rescue t("product_has_no_description")
                = hook :product_properties do
                  = render 'properties'
      = render 'taxons'
    .box-b1
      .box-b2
        .box-b3

